body {
  margin: 0;
  padding: 0;
}

#container {
  margin-top: 2rem;
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}
